<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="apikey" value="484d24faa96203cb2e9c2d4199926c5c9282cb405e88e6a6a70f2c38ae984f08"/>
  </appSettings>
</configuration>